
.jumbotron{
top:500px;
line-height:1.2em;
text-transform: uppercase;
color: #343434;
font-family :"Radley";
letter-spacing :3px;
font-weight :400;
font-style: normal;
text-align: center;
padding-bottom :20px;
}
body{
background-image:url("blur.jpg");
}
p{
font-style :italic;
font-size: 16px;
color: white;
margin-top : 150px;
margin-left :400px;
}
.button{
	margin-top:150px;
	left :400px;
   text-align:center;
	text-transform: uppercase;
	color: #343434;
	font-family :"Radley";
	letter-spacing :3px;
	font-weight :400;
	font-style: normal;
	text-align: center;
	padding-bottom :20px;
    background: #dadada ;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
	
			
}


